@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Noto+Sans+Ethiopic&family=Noto+Sans+Wancho&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #000000;
    color: white;
}
.MuiPagination-root {
    background-color: #ea580c;
    border-radius: 30px;
}